<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sign up organization</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/neworganizationpost">
  <table class="table table-bordered table-hover">
    <tr>
      <th>username</th>
      <td>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <th>name</th>
      <td>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <th>place</th>
      <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <th>city</th>
      <td>
      <input type="text" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
    <tr>
      <th>state</th>
      <td>
      <input type="text" name="textfield5" id="textfield5" class="form-control" required/></td>
    </tr>
    <tr>
      <th>email</th>
      <td>
      <input type="email" name="textfield6" id="textfield6" class="form-control" required/></td>
    </tr>
    <tr>
      <th>aboutus</th>
      <td>
      <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>

      <tr>
      <th>estd</th>
      <td>
      <input type="text" name="textfield7" id="textfield7" class="form-control" required/></td>
    </tr>
    <tr>
      <th>password</th>
      <td>
      <input type="text" name="textfield8" id="textfield8" class="form-control" required/></td>
    </tr>
    <tr>
      <th>confirm password</th>
      <td>
      <input type="text" name="textfield9" id="textfield8" class="form-control" required/></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Sign up" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
</html>
