{% extends 'admin/aindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/adddonationrequestpost">
  <table class="table table-bordered table-hover" bgcolor="#222">
{#    <tr>#}
{#      <th>Date Entry</th>#}
{#      <td>#}
{#      <input type="date" name="textfield2" id="textfield2" class="form-control" required/></td>#}
{#    </tr>#}
    <tr>
      <th>Amount</th>
      <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Need Before Date</th>
      <td>
      <input type="date" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Purpose</th>
      <td>
      <input type="text" name="textfield5" id="textfield5" class="form-control" required/></td>
    </tr>
      <tr>
      <th>Description</th>
      <td>
      <input type="text" name="textfield6" id="textfield6" class="form-control" required/></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}
