<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/adddonationrequest">Add Donation request</a><br> d
<a href="/viewdonationrequest">View donation request</a><br> d
<a href="/viewandapprove">View and approve pending</a><br> d
<a href="/viewuser">View users</a><br> d
<a href="/view_complaint_reply">View Complaint Reply</a><br> d
<a href="/viewandapprove_accept">View and approve accepted</a><br> d
<a href="/viewandapprove_reject">View and approve rejected</a><br>
<a href="/changepassword">Change password</a><br> d
<a href="/orgviewdonationrequest">View organization donation request</a><br> d

<a href="/view_org_approved_donationrequest">View approved organization donation request</a><br> d


</body>
</html>