<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
    content="Sectoral Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <title>CROWD FUNDING </title>
  <link href="//fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/home/assets/css/style-starter.css">
    <style>

        html{
            scroll-behaviour:smooth;
        }

    </style>


</head>

<body>
  <!--header-->
  <header id="site-header" class="w3lhny-head fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg stroke px-0">
        <h1> <a class="navbar-brand" href="#">
            <span class="sublog"><span class="fa fa-industry w3llog-icon" aria-hidden="true"></span>   Crowd</span>Funding
          </a></h1>
        <!-- if logo is image enable this   
  <a class="navbar-brand" href="#index.html">
      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
  </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/admin_home">Home <span class="sr-only">(current)</span></a>
            </li>
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="about.html">About</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="services.html">Services</a>#}
{#            </li>#}
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Donation Request <span class="fa fa-angle-down"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/adddonationrequest#about">Add</a>
                <a class="dropdown-item" href="/viewdonationrequest#about">View</a>

              </div>
            </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Organization Request <span class="fa fa-angle-down"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/orgviewdonationrequest">View Donation Requests</a>
                  <a class="dropdown-item" href="/view_org_approved_donationrequest">View Approved Donation Request</a>
                  <a class="dropdown-item" href="/viewandapprove">View and approve Organizations</a>
                  <a class="dropdown-item" href="/viewandapprove_accept">View Approved Organizations</a>
                  <a class="dropdown-item" href="/viewandapprove_reject">View Rejected Organizations</a>
                  <!--a class="dropdown-item" href="/transaction_hist">View Transactions</a-->
              </div>
            </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Others <span class="fa fa-angle-down"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/viewuser">View user</a>
                 <a class="dropdown-item" href="/view_charitynews">Public Charity News</a>
                <a class="dropdown-item" href="/view_complaint_reply">Complaint</a>
               <a class="dropdown-item" href="/changepassword">Change Password</a>
                  <a class="dropdown-item" href="/logout">Log out</a>

              </div>
            </li>
           
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="contact.html">Contact</a>#}
{#            </li>#}
            <!--/search-right-->
            <nav class="ml-lg-5">
              <div class="search-bar">
                <form class="search">
                  <input type="search" class="search__input" name="search" placeholder="Search here.."
                    onload="equalWidth()" required>
                  <span class="fa fa-search search__icon"></span>
                </form>
              </div>
            </nav>
            <!--//search-right-->
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/header-->
  <!-- main-slider -->
  <section class="w3l-main-slider" id="home">
    <div class="companies20-content">
      <div class="owl-one owl-carousel owl-theme">
        <div class="item">
          <li>
            <div class="slider-info banner-view bg bg2">
              <div class="banner-info">
                <div class="container">

                  <div class="banner-info-bg">
                    <h6>Hi, Admin</h6>
                    <h5>Welcome to Admin Home Page</h5>
                    <p class="mt-md-4 mt-3">
                    </p>
                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4" href="/admin_home">
                      Read More <span class="fa fa-arrow-right  ml-3" aria-hidden="true"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info  banner-view banner-top1 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h6>We Provide the best Secured CrowdFunding Platform.</h6>
                    <h5>Unlock the Power of Blockchain: Support Our Platform. </h5>
                    <!--p class="mt-md-4 mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.Ea
                      ipsum sed consequuntur illum facere.
                    </p-->
                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 " href="about.html">
                      Read More <span class="fa fa-arrow-right ml-3" aria-hidden="true"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info banner-view banner-top2 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h6>We Provide the best Secured CrowdFunding Platform.</h6>
                    <h5>Unlock the Power of Blockchain: Support Our Platform. </h5>
                    <!--p class="mt-md-4 mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.Ea
                      ipsum sed consequuntur illum facere.
                    </p-->
                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4" href="about.html">
                      Read More <span class="fa fa-arrow-right  ml-3" aria-hidden="true"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info banner-view banner-top3 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h6>We Provide the best Secured CrowdFunding Platform.</h6>
                    <h5>Unlock the Power of Blockchain: Support Our Platform. </h5>
                    <!--p class="mt-md-4 mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.Ea
                      ipsum sed consequuntur illum facere.
                    </p-->
                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4" href="about.html">
                      Read More <span class="fa fa-arrow-right ml-3" aria-hidden="true"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
      <!--/w3l-industry-address-->


      <div class="w3l-industry-address">
        <div class="one-address">
          <div class="left">
            <div class="ad-icon">
              <span class="fa fa-phone"></span>
            </div>
          </div>
          <div class="content">
            <p>Call Us:</p>
            <h5>9744701363</h5>
          </div>
        </div>
        <div class="one-address">
          <div class="left">
            <div class="ad-icon">
              <span class="fa fa-envelope-o"></span>
            </div>
          </div>
          <div class="content">
            <p>Email Us:</p>
            <h5><a href="mailto:example@mail.com" class="mail">crowdfunding@mail.com</a></h5>
          </div>
        </div>
      </div>
      <!--//w3l-industry-address-->
    </div>
  </section>
  <!-- /main-slider -->
  <!--/about-section -->
  <section class="w3l-index1 py-5" id="about">
      <div class="container py-lg-5 py-md-3">

          {% block body %}

          {% endblock %}

        <br>
        <br>
        <div class="header-section text-center mx-0 mb-md-5 mb-4">
          <h6 class="title-subhny">About Our Project</h6>
          <h3 class="title-w3l mt-2">We Provide the best Secured CrowdFunding Platform</h3>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4 align-self">
            <h4 class="title-sub">About the platform  </h4>
            <p class="mt-md-4 mt-3">Crowdfunding is the technique of raising small amounts of money from a
                    large number of individuals, usually over the Internet, to fund a project or endeavor.
                    This crowdfunding application is like no other as it does not transfer the amount which is funded directly to the reciever, rather the amount is stored in a smart contract.</p>
            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html">Read More <span class="fa fa-arrow-right ml-2" aria-hidden="true"></span></a>
          </div>
          <div class="col-lg-6 pl-lg-5">
            <div class="position-relative">
              <img src="/static/home/assets/images/b3.jpg" alt="" class="radius-image img-fluid">
            </div>
          </div>
        </div>
      </div>
  </section>


  <!-- //about-section -->
  <!-- home page block1 -->
  <!--section id="features" class="home-services py-5">
    <div class="container py-md-5 py-2">
      <div class="header-section text-center mx-0 mb-md-5 mb-4">
        <h6 class="title-subhny">Our Services</h6>
        <h3 class="title-w3l mt-2">High quality services</h3>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-cogs"></span>
              </div>
              <div class="info">
                <h4><a href="#url">Mechanical Works</a></h4>
              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-cubes"></span>
              </div>
              <div class="info">
                <h4><a href="#url">
                    Power & Energy</a></h4>
              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-map-o"></span>
              </div>
              <div class="info">
                <h4><a href="#url">Petroleum Refinery</a></h4>
              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-podcast"></span>
              </div>
              <div class="info">
                <h4><a href="#url">
                  Research & Analysis</a></h4>
              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-sitemap"></span>
              </div>
              <div class="info">
                <h4><a href="#url">
                  Bridge Construction</a></h4>
              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-industry"></span>
              </div>
              <div class="info">
                <h4><a href="#url">
                  Industrial Chemicals</a></h4>
              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //home page block1 -->
  <!--section class="w3l-index2" id="about1">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-6 left-wthree-img">
            <div class="position-relative">
              <img src="/static/home/assets/images/b2.jpg" alt="" class="radius-image img-fluid">

            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5 pl-lg-5 align-self">
            <h6 class="title-subhny">What We Offer</h6>
            <h3 class="title-w3l mt-2">Planning and design.
              Modern equipment.</h3>
            <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel. Learn more about our work!
              Lorem ipsum viverra feugiat.
            </p>
            <ul class="w3l-right-book mt-4">
              <li><span class="fa fa-check" aria-hidden="true"></span>Pellen tesque libero ut justo</li>
              <li><span class="fa fa-check" aria-hidden="true"></span>Lorem ipsum dolor sit amet elit</li>
              <li><span class="fa fa-check" aria-hidden="true"></span>Pellen tesque libero ut justo</li>
            </ul>
            <a class="btn btn-style btn-primary mt-4" href="about.html">Read More <span class="fa fa-arrow-right ml-2" aria-hidden="true"></span></a>
          </div>

        </div>
        <div class="row mt-5 pt-lg-4">

          <div class="col-lg-6 mb-lg-0 mb-5 pr-lg-5 align-self">
            <h6 class="title-subhny">Why Choose Us</h6>
            <h3 class="title-w3l mt-2">Dream big with get more inspiring solutions from here.</h3>
            <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel. Learn more about our work!
              Lorem ipsum viverra feugiat.
            </p>
            <ul class="w3l-right-book mt-4">
              <li><span class="fa fa-check" aria-hidden="true"></span>Pellen tesque libero ut justo</li>
              <li><span class="fa fa-check" aria-hidden="true"></span>Lorem ipsum dolor sit amet elit</li>
              <li><span class="fa fa-check" aria-hidden="true"></span>Pellen tesque libero ut justo</li>
            </ul>
            <a class="btn btn-style btn-primary mt-4" href="about.html">Read More <span class="fa fa-arrow-right ml-2" aria-hidden="true"></span></a>
          </div>
          <div class="col-lg-6 left-wthree-img">
            <div class="position-relative">
              <img src="/static/home/assets/images/b1.jpg" alt="" class="radius-image img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- home page block grids -->
   <!-- /content-6-section -->
   <section class="w3l-content-mid py-5">
    <!-- /content-6-section -->
    <div class="content-4-main py-3" id="callus">
      <div class="container py-lg-4">
        <div class="welcome-left text-left">
          <h6 class="title-subhny mb-2">Call Us</h6>
          <h3 class="title-w3l">We believe in building long lasting our funding relationships.</h3>
          <p class="mt-3 mb-lg-2 pr-lg-5">You can connect with us in anytime!
          </p>
          <a href="tel:+91 97447 01363" class="btn btn-style btn-primary mt-4">+91 97447 01363</a>
        </div>
      </div>
    </div>
  </section>
  <!-- //content-6-section -->
  <!-- home page block grids -->
 <!--section class="w3l-text-11 py-5" id="blogs">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="header-section text-center mx-0 mb-md-5 mb-4">
        <h6 class="title-subhny">Latest Articles </h6>
        <h3 class="title-w3l mt-2">Top Blog Posts</h3>
      </div>
      <div class="row text11-content">
        <div class="col-md-4 item mt-lg-0">
          <div class="card">
            <div class="card-header p-0 position-relative border-0">
              <a href="#">
                <img class="card-img-bottom d-block radius-image" src="/static/home/assets/images/b1.jpg" alt="Card image cap">
              </a>
            </div>
            <div class="card-body p-0 blog-details">
              <h6 class="mt-4">Jan 02, 2021</h6>
              <a href="#admin" class="admin">- by Admin </a>
              <br>
              <a href="#" class="blog-desc">Importers achieve cost savings through the First Sale rule!.</a>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum.</p>
              <a href="#" class="btn btn-style btn-primary mt-lg-4 mt-4">Read More <span class="fa fa-arrow-right ml-2" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>

        <div class="col-md-4 item mt-lg-0 mt-5">
          <div class="card">
            <div class="card-header p-0 position-relative border-0">
              <a href="#">
                <img class="card-img-bottom d-block radius-image" src="/static/home/assets/images/b3.jpg" alt="Card image cap">
              </a>
            </div>
            <div class="card-body p-0 blog-details">
              <h6 class="mt-4">Jan 02, 2021</h6>
              <a href="#admin" class="admin">- by Admin </a>
              <br>
              <a href="#" class="blog-desc">Cargo flow through better supply chain visibility, control.</a>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum.</p>
              <a href="#" class="btn btn-style btn-primary mt-lg-4 mt-4">Read More <span class="fa fa-arrow-right ml-2" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>

        <div class="col-md-4 item mt-lg-0 mt-5">
          <div class="card">
            <div class="card-header p-0 position-relative border-0">
              <a href="#">
                <img class="card-img-bottom d-block radius-image" src="/static/home/assets/images/b6.jpg" alt="Card image cap">
              </a>
            </div>
            <div class="card-body p-0 blog-details">
              <h6 class="mt-4">Jan 02, 2021</h6>
              <a href="#admin" class="admin">- by Admin </a>
              <br>
              <a href="#" class="blog-desc">Importers achieve cost savings through the First Sale rule!.</a>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum.</p>
              <a href="#" class="btn btn-style btn-primary mt-lg-4 mt-4">Read More <span class="fa fa-arrow-right ml-2" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //home page block grids -->
  <!-- stats -->
 <section class="w3l-stats py-5">
    <div class="container py-3">
      <div class="header-section text-center mx-0 mb-md-5 mb-4">
        <h6 class="title-subhny two">Stats </h6>
        <h3 class="title-w3l two mt-2">Donation Requests</h3>
      </div>
      <div class="row img-w3-content no-gutters">
        <div class="col-lg-6 img-right p-lg-0">
          <img src="/static/home/assets/images/ab1.jpg" alt="" class="radius-image img-fluid">
        </div>
        <div class="col-lg-6 stats-left">
          <div class="row stats-con">
            <div class="col-4 stats_info counter_grid">
              <p class="counter">{{ session['cnt'] }} </p>
              <h4>Total Requests</h4>
            </div>
            <div class="col-4 stats_info counter_grid ">
              <p class="counter">{{ session['cntp'] }}</p>
              <h4>Pending</h4>
            </div>
            <div class="col-4 stats_info counter_grid2 ">
              <p class="counter">{{ session['cntap'] }} </p>
              <h4>
                Approved</h4>
            </div>
            <p class="mt-2 mb-3"> Statistics shows total count of total, approved and pending requests.
            </p>
            <a class="btn btn-style btn-primary mt-4" href="/orgviewdonationrequest">View Donation Requests <span class="fa fa-arrow-right ml-2" aria-hidden="true"></span></a>
          </div>
      </div>
    </div>
    </div>
  </section>
  <!-- //stats-->
  <!-- testimonials section -->
  <!--section class="w3l-clients w3l-test pb-5" id="testimonials">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-4 pt-2 pb-lg-5">
        <div class="header-section text-center mx-0 mb-md-5 mb-4 pt-lg-5 pt-4">
          <h6 class="title-subhny"> Happy Clients</h6>
          <h3 class="title-w3l mt-2">What Our Clients Say</h3>
        </div>
        <div id="owl-demo2" class="owl-carousel owl-theme mt-4 py-md-2 mb-md-4">
          <div class="item">
            <div class="testimonial-content">
              <div class="testimonial">
                <blockquote>
                  <q>Pellen tesque libero ut justo</q>
                </blockquote>
                <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                  faucibus orci luctus.</p>
              </div>
              <div class="bottom-info mt-4">
                <a class="comment-img" href="#url"><img src="/static/home/assets/images/team1.jpg" class="img-responsive"
                    alt="placeholder image"></a>
                <div class="people-info align-self">
                  <h3>Johnson william</h3>
                  <p class="identity">Example City</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-content">
              <div class="testimonial">
                <blockquote>
                  <q>Lorem ipsum dolor sit amet</q>
                </blockquote>
                <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                  faucibus orci luctus.</p>
              </div>
              <div class="bottom-info mt-4">
                <a class="comment-img" href="#url"><img src="/static/home/assets/images/team2.jpg" class="img-responsive"
                    alt="placeholder image"></a>
                <div class="people-info align-self">
                  <h3>Alexander sakura</h3>
                  <p class="identity">Example City</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-content">
              <div class="testimonial">
                <blockquote>
                  <q>Pellen tesque libero ut justo</q>
                </blockquote>
                <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                  faucibus orci luctus.</p>
              </div>
              <div class="bottom-info mt-4">
                <a class="comment-img" href="#url"><img src="/static/home/assets/images/team3.jpg" class="img-responsive"
                    alt="placeholder image"></a>
                <div class="people-info align-self">
                  <h3>John wilson</h3>
                  <p class="identity">Example City</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-content">
              <div class="testimonial">
                <blockquote>
                  <q>Lorem ipsum dolor sit amet</q>
                </blockquote>
                <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                  faucibus orci luctus.</p>
              </div>
              <div class="bottom-info mt-4">
                <a class="comment-img" href="#url"><img src="/static/home/assets/images/team4.jpg" class="img-responsive"
                    alt="placeholder image"></a>
                <div class="people-info align-self">
                  <h3>Julia sakura</h3>
                  <p class="identity">Example City</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-content">
              <div class="testimonial">
                <blockquote>
                  <q>Pellen tesque libero ut justo</q>
                </blockquote>
                <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                  faucibus orci luctus.</p>
              </div>
              <div class="bottom-info mt-4">
                <a class="comment-img" href="#url"><img src="/static/home/assets/images/team5.jpg" class="img-responsive"
                    alt="placeholder image"></a>
                <div class="people-info align-self">
                  <h3>John wilson</h3>
                  <p class="identity">Example City</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-content">
              <div class="testimonial">
                <blockquote>
                  <q>Lorem ipsum dolor sit amet.</q>
                </blockquote>
                <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                  faucibus orci luctus.</p>
              </div>
              <div class="bottom-info mt-4">
                <a class="comment-img" href="#url"><img src="/static/home/assets/images/team3.jpg" class="img-responsive"
                    alt="placeholder image"></a>
                <div class="people-info align-self">
                  <h3>Julia sakura</h3>
                  <p class="identity">Example City</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //testimonials section -->
  <footer-28 block>
  <footer class="footer-28 position-relative py-5">
    <!--div class="container py-lg-3">
      <div class="w3l-forms-9 px-md-2" id="newsletter">
        <div class="main-w3 py-4">
          <div class="container-fluid py-lg-3 py-2">
            <div class="row align-items-center">
              <div class="main-midd col-lg-6">
                <h4 class="">Subscribe our newsletter</h4>
                <p>We’re a team of non-cynics who truly care for our work.</p>
              </div>
              <div class="main-midd-2 col-lg-6 mt-lg-0 mt-4">
                <form action="#url" method="GET" class="rightside-form d-sm-flex">
                  <input type="email" class="form-control" name="email" placeholder="Enter your email">
                  <button class="btn" type="submit">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div-->
      <div class="row footer-top-28 mt-4">
        <div class="col-lg-5 footer-list-28 pr-lg-5 mt-5">
          <h6 class="footer-title-28">Quick Contact</h6>
          <p class="pr-lg-5">You can contact us at.</p>

          <div class="main-social-footer-28 mt-4">
            <ul class="social-icons">
              <li class="facebook">
                <a href="#link" title="Facebook">
                  <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
              </li>
              <li class="twitter">
                <a href="#link" title="Twitter">
                  <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
              </li>
              <li class="dribbble">
                <a href="#link" title="Dribbble">
                  <span class="fa fa-dribbble" aria-hidden="true"></span>
                </a>
              </li>
              <li class="google">
                <a href="#link" title="Google">
                  <span class="fa fa-google" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <div class="col-md-3 col-sm-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Quick Links</h6>
              <ul>
                <li><a href="/admin_home#"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> Home</a></li>
                <li><a href="/admin_home#about"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> About us</a></li>
                <li><a href="/admin_home#"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> Services</a></li>
                <li><a href="/viewdonationrequest"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> View Donations</a></li>
                <li><a href="/admin_home#callus"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> Contact</a></li>
              </ul>
            </div>
            <div class="col-md-5 col-sm-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Services</h6>
              <ul>
                <li><a href="/adddonationrequest"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> Add donation </a></li>
                <li><a href="/orgviewdonationrequest"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> View Organization Donation Request</a></li>
                <li><a href="/viewuser"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> View Users</a></li>
                <li><a href="/view_charitynews"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> View Public Charitynews</a></li>
                <li><a href="/view_complaint_reply"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> Complaints</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Help</h6>
              <ul>
                <li><a href="#privacy"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> Privacy policy</a></li>
                <li><a href="#support"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> Support</a></li>
                <li><a href="#terms"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> Terms & conditions</a></li>
                <li><a href="#license"><span class="fa fa-arrow-right mr-2" aria-hidden="true"></span> License and uses</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="midd-footer-28 align-center py-4 mt-5">
        <p class="copy-footer-28 text-center"> &copy; MES S8 IT PROJECT BATCH 5 <a

      </div>
    </div>

  </footer></footer-28>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
    <!-- //footer-28 block -->
  </footer>

  <!-- Template JavaScript -->
  <script src="/static/home/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/static/home/assets/js/theme-change.js"></script>
  <!-- owlcarousel -->
  <!-- owl carousel-->
  <script src="/static/home/assets/js/owl.carousel.js"></script>
  <!-- script for banner slider-->
  <script>
    $(document).ready(function ()  {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: true,
        responsive: {
          0: {
            items: 1
          },
          480: {
            items: 1
          },
          667: {
            items: 1
          },
          1000: {
            items: 1
          }
        }
      })
    })
  </script>
  <!-- //script -->
  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo2").owlCarousel({
        loop: true,
        nav: false,
        margin: 50,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          },
          991: {
            items: 2,
            margin: 30,
            nav: false
          },
          1080: {
            items:3,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- owl carousel -->

  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo2").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          1000: {
            items: 1,
            nav: false,
            loop: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- stats number counter-->
  <script src="/static/home/assets/js/jquery.waypoints.min.js"></script>
  <script src="/static/home/assets/js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>

  <!--//MENU-JS-->

  <script src="/static/home/assets/js/bootstrap.min.js"></script>

</body>

</html>