{% extends 'user/userindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/changepassword_userpost">
  <table class="table table-bordered table-hover">
    <tr>
      <th>Current Password</th>
      <th>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></th>
    </tr>
    <tr>
      <th>New Password</th>
      <td>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Confirm Password</th>
      <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="CHANGE" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
{% endblock %}
